
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* share style */
.btn-primary{
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    width: fit-content;
    border-radius: 10px;
    background: none;

}

/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
}

.banner{
    background-image: url(../assets/Hero-bg.png);
   
}

.banner-contant{
    text-align: center;
    padding: 50px;
}
.banner-title{
    font-size: 48px;
    font-weight: 800;
}
.banner-describtion{
    color: #626467;
    font-size:20px ;
}
.banner-btn{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #0D1321;
    border-radius: 8px;
    border: none;
    width: fit-content;
    padding: 20px;
}

/*  web development  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.web-container-box{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
    
}
.web-contant{
    text-align: center;
    /* gap: 50px; */
}

.web-contant h1{
    font-size: 32px;
    font-weight: 800;
}
.web-contant p, .web-container-box p,.inspiration-description{
    font-size: 16px;
    color: #626467;
}
.web-container-box h4{
    font-size: 24px;
    font-weight: 700;
}

.web-container-box >div{
    width: 477px;
}

#box-2{
    flex-direction: row-reverse;
}

/* inspiration  */
.inspiration-title{
    font-size: 32px;
    font-weight: 800;
}
.inspiration-container{
    text-align: center;
    width: 100%;
    background-color:  #edf0f8;
    padding: 20px;
}
.inspiration-contant-ifram{
    padding: 20px;
    
}
.inspiration-contant-ifram iframe{
    border-radius: 16px;
    width: 100%;height: 550px;
    
}

/* start media quary........................................ */

@media screen and (max-width:576px){
    nav{
        flex-direction: column;
    }
    .banner-contant{
        padding: 50px 0;
    }
    .banner-title{
        font-size: 30px;
    }
/*  web section */
.web-container-box{
    flex-direction: column-reverse;
    width: fit-content;
}
#box-2{
    flex-direction: column-reverse;

}
.web-container-box >div{
    width: fit-content;
}

/* inspiration section */
.inspiration-contant-ifram iframe{
    width: fit-content;
    height: fit-content;
}




}



