
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* share style */
.btn-primary{
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    width: fit-content;
    border-radius: 10px;
    background: none;

}


.text-primary{
font-size: 16px;
    color: #626467;
}
/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
}

.banner{
    background-image: url(../assets/Hero-bg.png);
   
}

.banner-contant{
    text-align: center;
    padding: 50px;
}
.banner-title{
    font-size: 48px;
    font-weight: 800;
}
.banner-describtion{
    color: #626467;
    font-size:20px ;
}
.banner-btn{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #0D1321;
    border-radius: 8px;
    border: none;
    width: fit-content;
    padding: 20px;
}

/*  web development  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.web-container-box{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
    
}
.web-contant{
    text-align: center;
    /* gap: 50px; */
}

.web-contant h1{
    font-size: 32px;
    font-weight: 800;
}

.web-container-box h4{
    font-size: 24px;
    font-weight: 700;
}

.web-container-box >div{
    width: 477px;
}

#box-2{
    flex-direction: row-reverse;
}

/* inspiration  */
.inspiration-title{
    font-size: 32px;
    font-weight: 800;
}
.inspiration-container{
    text-align: center;
    width: 100%;
    background-color:  #edf0f8;
    padding: 20px;
}
.inspiration-contant-ifram{
    padding: 20px;
    
}
.inspiration-contant-ifram iframe{
    border-radius: 16px;
    width: 100%;height: 550px;
    
}

/* target section */
.current-target-contant, .next-target-contant{
    text-align: center;
}
.current-target-title{
    font-size: 32px;
    font-weight: 800;
}
.current-target-card{
    display: flex;
    gap: 24px;
}
.card{
    padding: 40px;
    border-radius: 8px;
}
#card-1{
    background-color: #fff6f4;
}
#card-2{
    background-color: #f2f6fe;
}
#card-3{
    background-color: #fffdf2;
}
.card-title, .next-target-card h4{
    font-size: 24px;
    font-weight: 800;
}
.card-btn{
    font-weight: bold;
    border: none;
    background:none ;
    text-decoration: underline;
}

/* next target  */
.next-target>div{
    margin-bottom: 24px;
}
.next-target-card{
    display: flex;
    gap: 24px;
    padding: 40px;
    border: 1px solid  #dbdcde;
    border-radius: 10px;
}

/* support section */

.support-contant{
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    
}
.support-contant{
    text-align: center;
    align-items: center;
    padding: 48px 64px;
}
.support-title{
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}
.support-description{
    color: #fff;
}
.support-contant input{
    width: 550px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    outline: none;
}
.support-contant button{
    padding: 20px;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    
}
/* footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 180px;
}
.footer-title{
    font-size: 20px;
    font-weight: 600;
}
 .footer-link a{
        margin-left: 24px;
    }

/* start media quary........................................ */

@media screen and (max-width:576px){
    nav{
        flex-direction: column;
    }
    .banner-contant{
        padding: 50px 0;
    }
    .banner-title{
        font-size: 30px;
    }
   
/*  web section */
.web-container-box{
    flex-direction: column-reverse;
    width: fit-content;
}
#box-2{
    flex-direction: column-reverse;

}
.web-container-box >div{
    width: fit-content;
}

/* inspiration section */
.inspiration-container{
    padding: 0;
}
.inspiration-contant-ifram iframe{
    width: fit-content;
    height: fit-content;
}

/* target section */
.current-target-card{
    flex-direction: column;

}

/* next target */
.next-target-card{
    flex-direction: column;
}
.next-target-card img{
    width: 50%;

}
/* support */
.support-contant{
    padding: 0;
    height: 200px;
}
.support-contant input{
    width: fit-content;
}
/* footer */
footer{
    flex-direction: column;
    padding: 0;
    text-align: center;
}

}

/* meduim divice */

@media screen and (min-width:576px) and (max-width:992px) {
   /* suooprt */
    .support-contant{
        padding: 0;
        height: 200px;
    }
    .support-contant input {
        width: 50%;
    }
    /* footer */
    footer{
        padding: 0;
    }
}



